*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url('img.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 300px; 
    height: 200px;
    color: #888;
    background-color: Violet;
    /* padding: 25px; */

    /* padding-left: 50px;
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px; */

    /* padding: 50px 25px 50px 25px; */

    padding: 25px 50px;

    /* margin: 25px; */

    /* margin-left: 50px;
    margin-top: 25px;
    margin-right: 50px;
    margin-bottom: 25px; */

    /* margin: 50px 25px 50px 25px; */
    
    margin: 50px auto;
}

p {
    text-align: right;
}